:root,
:root.light {
  --bg-color: #fff;
  --secondary-color: #242424;
  --third-color: #8190a4;
}
 
:root.dark {
  --bg-color: #121212;
  --secondary-color: #fff;
  --third-color: #8190a4;
}
body{
  margin: 0;
  background-color: var(--bg-color);
}
.theme{
  margin: 20px;
  padding: 10px 30px;
  font-weight: 900;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--third-color);
}

.container{
  width: 300px;
  height: auto;
}
.container {
  h1, p{
    margin: 20px;
    color: var(--secondary-color)
  }
}