<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>


  <template id="modulegallery">
    <div class="container">
      <div class="row">
        <img src="images/gallery.jpg" alt="">
        <img src="images/gallery.jpg" alt="">
        <img src="images/gallery.jpg" alt="">
        <img src="images/gallery.jpg" alt="">
      </div>
    </div>
  </template>

  <div id="gallerycontainer1"></div>
  <div id="gallerycontainer2"></div>

  <script>
    var template = document.querySelector('#modulegallery')
    var gallery1 = document.querySelector('#gallerycontainer1')
    var gallery2 = document.querySelector('#gallerycontainer2')

    var clone = template.content.cloneNode(true)
    gallery1.appendChild(clone);

    var clone2 = template.content.cloneNode(true)
    gallery2.appendChild(clone2);
  </script>

</body>

</html>